/* src/App.css */

/* Hacemos que la aplicación ocupe todo el espacio disponible */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0; /* Quitamos el padding global que comprimía el menú */
  display: flex;     /* Aseguramos que los hijos (Navbar, Main, Footer) se apilen bien */
  flex-direction: column;
}

/* Ajustes opcionales para logos si los usas en Home */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}